
.slide {
    position: relative;
    width: 1200px; 
    height: 300px;
    z-index: 99;
    overflow: hidden;
}

.slide > div {
    position: absolute;
    width: 1200px;
    height: 300px;
    left: -100%;
    top: 0;
}

.slide > div > p {
    display: block;
    background-color: #fff;
    position: absolute;
    z-index: 9;
}

.slide > div > img {
    position: absolute;
    z-index: -99;
}

.slide > div > img:first-child {
    left: 0;
}