@charset "utf-8";

body {
    background-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #333333;
}

img {
    width: 100%;
    height: 100%;
}

.wrapper {
    position: absolute;
    width: 100%;    
    height: calc(100% - 120px);
    background-color:yellow;
    display: flex;
}

header {
    width: 200px;
    height: 100%;
    background-color: red;
}

.logo {
    width: 200px;
    height: 100px;
    background-color: red;
}

.menu {
    width: 190px;
    height: 200px;
    margin: 0 auto;
    margin-top: 20px;
}

.menu > ul > li {
    display: block;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background-color: darkred;
}

.menu > ul > li > a {
    color: white;
}

.menu > ul > li:hover a{
    color: black;
}

.menu > ul > li:hover {
    background-color: orange;
}


.menu ul li ul {
    display: none;
}

.menu > ul >  li > ul > li {
    background-color: white;
    display: block;
    width: 100%;
    height: 50px;
}

.menu > ul > li > ul > li:hover {
    background-color: yellow;
}

.menu > ul > li > ul > li:hover a{
    color: red;
}

header  label {
    display: block;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.contents {
    width: 400px;
    height: 100%;
    background-color: blue;
}

.slide {
    position: relative;
    width: calc(100% - 600px);
    height: 100%;
    overflow: hidden;
}


.slide > img {
    position: absolute;
    top: 0;
    left: -100%;
}

.slide > img:first-child {
    left: 0;
}

/* .test {
    object-fit: cover;
} */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: black;
}

.flogo {
    float: left;
    width: 200px;
    height: 120px;
}

.fmenu {
    float: right;
    width: calc(100% - 200px);
    height: 50px;
}

.fmenu > p {
    line-height: 50px;
    color: white;
}

.copy {
    float: right;
    width: calc(100% - 200px);
    height: 50px;
}

.copy > p {
    color: white;
}       
